/* !!VEDERE COME METTERE LA PAGINA IN SCALA IN BASE ALLA DIMENSIONE DELLA STESSA !!*/
html{
    background-color: #eaeded;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-top{
    background: linear-gradient(0deg, #222f3e, #222f3e);
    padding: 1%;
}

.logo-top img{
    width: 120px;
    height: 45px;
}

.menu{
    background: linear-gradient(0deg, #354758, #354758);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
}

.menu span a{
    color: white;
    font-size: 15px;
    padding: 1%;
    text-decoration: none; 
}

span a:hover{ 
    border: solid;
    border-color: white;
    border-width: 1px;
}

main{
    margin-left: 1%;
    margin-right: 1%;
}

.gift-cards{
    background: linear-gradient(0deg, #f56600, #f56600);
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    margin-top: 1%;
}

.gift-cards h5 a{  
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: 2%;
}

#gift-guides h3{
    background-image: url('../img/bg-image.png');
    background-repeat: no-repeat;
    background-size: cover; /*NON SONO RIUSCITO AD ADATTARE L'IMMAGINE ALLA SCHERMATA */
    text-align: center;
    font-size: 30px;
    color:white;
    height: 128px;
    padding-top: 2%;
}

#gift-guides a{
    text-decoration: none;
}

.back-top{
    background: linear-gradient(0deg, #354758, #354758);
    padding-top: 1px;
    padding-bottom: 1px;
}

.back-top h5{
    color: white;
    font-size: 14px;
    margin-left: 1%;
    text-align: center;
}

.back-top a{
    text-decoration: none;
}

.logo-bot{
    background: linear-gradient(0deg, #222f3e, #222f3e);
    text-align: center;
    padding: 5%;
}

.logo-bot img{
    width: 180px;
    height: 65px;
}

#images{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5%;
}

.shop-now{
    text-decoration: none;
    flex-wrap: wrap;
    color: #017185;
}

.image{
    display: flex;
    width:300px;
    height:380px;
    object-fit: cover;
    border-radius: 20px;
}

.image-big{
    text-align: center;
    width: 100%;
    margin-bottom: 2%;
}

.big{
    width: 1849px;
}

.perfect-gift{
    background-color: white;
    padding-bottom: 1%;
}